/*-------- Fonts-------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* --------header area styles start */
header{
    background: rgba(255, 144, 14, 0.1);
    /* width: 1920px; */
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}
.nav-menu{
    display: flex;
    gap: 50px;
}
.nav-menu li{
    list-style: none;
}
.nav-menu li a{
    text-decoration: none;
    color: #727272;
    ;
    font-weight: 500;
    font-size: 18px;
}
.nav-menu li a:hover{
    color: #000;
}
/* .header-logo{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 20px;
}
.header-logo i{
    display: none;
} */
.logo{
    font-size: 45px;
}
.banner-area{
    padding-top: 92px;
    padding-bottom: 45px;
}
.banner-text{
    text-align: center;
}
.banner-text .banner-logo{
    padding-bottom: 20px;
    font-size: 64px;
}
.description{
    padding-bottom: 30px;
    color: #727272;
    line-height: 26px;
    font-size: 16px;

}
.primary-btn{
    width: 180px;
    height: 64px;
    margin-bottom: 50px;
    color: #fff;
    background-color: #FF900E;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.banner-text .btn:hover{
    background-color: #d98a13d0;
}
.banner-image{
    display: flex;
    justify-content: center;
}
.banner-image img{
    width: 960px;
}
/* --------header area styles start */
main{
    width: 1440px;
    /* margin: 0 auto; */
}

/* --------feature section styles start */

.features{
    width: 1440px;
    display: flex;
    gap: 85px;
    align-items: center;
    justify-content: center;
}
.features-image-container{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    padding-top: 85px;
}
.image, .image img{
    width: 242px;
    height: 242px;
}
.features-text-container{
    
    width: 330px;
    height: 304px;
}
.features-title{
    font-size: 25px;
    padding-bottom: 24px;
    color: #727272;
}
.features-title .our{
    color: #131313;
}
.features-title .feature{
    color: #FF900E;
}